.b-footer-link{
    display: flex;
    .col-item-3{
        // flex: 1;
        flex: 0 0 25%;
        max-width: 25%;
        width: 25%;
        padding-right: 15px;
        .link-title{
            >a{
                font-size: 16px;
                color: #000;
            }
        }
        .link-list{
            >li{
                >a{
                    position: relative;
                    display: block;
                    padding: 12px 20px 12px 10px;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    background-color: #f3f8fc;
                    border-radius: 5px;
                    color: #333;
                    margin: 5px 0;
                    &:hover{
                        background-color: #dae4ec;
                    }
                    >i{
                        top: 50%;
                        margin-top: -5px;
                        right: 5px;
                        position: absolute;
                        color: #007aff;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px){
    .b-footer-link{
        display: flex;
        flex-wrap: wrap;
        .col-item-3{
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
            margin-bottom: 15px;
            &:nth-of-type(2n) {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 575px){
    .b-footer-link{
        .col-item-3{
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding-right: 0;
        }
    }
}