#searchbar {
    margin-top: 20px;
    // margin-bottom: 15px;
    .searchform {
        background: #ffdc9a;
        padding: 15px;
        border-radius: 5px;
        .search_field{
            display: flex;
            .search_field_item {
                margin-left: 5px;
                margin-bottom: 0;
                width: 142px;
                .search_field_item_label {
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0 0 3px;
                }
                .btn_search_box{
                    background: #ffa80f;
                    color: #fff;
                    border: 1px solid #ffa80f;
                    height: 40px;
                    border-radius: 3px;
                }
            }
        }
    }
}

@media (max-width: 991px){
    #searchbar {
        .searchform {
            .search_field{
                display: flex;
                flex-direction: column;
                .search_field_item {
                    width: 100%;
                    margin-bottom: 5px;;
                    .btn_search_box{
                        width: 100%;
                    }
                    .mb-item-label{
                        display: none;
                    }
                }
            }
        }
    }
}