.#{$la-css-prefix}-times:before { content: la-content($la-times); }
.#{$la-css-prefix}-arrow-down:before { content: la-content($la-arrow-down); }
.#{$la-css-prefix}-arrow-left:before { content: la-content($la-arrow-left); }
.#{$la-css-prefix}-arrow-right:before { content: la-content($la-arrow-right); }
.#{$la-css-prefix}-arrow-up:before { content: la-content($la-arrow-up); }
.#{$la-css-prefix}-angle-down:before { content: la-content($la-angle-down); }
.#{$la-css-prefix}-angle-left:before { content: la-content($la-angle-left); }
.#{$la-css-prefix}-angle-right:before { content: la-content($la-angle-right); }
.#{$la-css-prefix}-angle-up:before { content: la-content($la-angle-up); }
.#{$la-css-prefix}-arrow-down:before { content: la-content($la-arrow-down); }
.#{$la-css-prefix}-arrow-left:before { content: la-content($la-arrow-left); }
.#{$la-css-prefix}-arrow-right:before { content: la-content($la-arrow-right); }
.#{$la-css-prefix}-arrow-up:before { content: la-content($la-arrow-up); }

//
.#{$la-css-prefix}-pencil:before { content: la-content($la-pencil); }
.#{$la-css-prefix}-phone:before { content: la-content($la-phone); }
.#{$la-css-prefix}-envelope:before { content: la-content($la-envelope); }
.#{$la-css-prefix}-building:before { content: la-content($la-building); }
.#{$la-css-prefix}-certificate:before { content: la-content($la-certificate); }
