$la-font-path: "/fonts" !default;
$la-font-size-base: 16px !default;
$la-line-height-base: 1 !default;
$la-css-prefix: la !default;
$la-border-color: #eee !default;
$la-inverse: #fff !default;
$la-li-width: (20em / 16) !default;
$la-font-name: "LineAwesome" !default;
$la-version: "1.1.";

@function la-content($la-var) {
    @return unquote("\"#{ $la-var }\"");
  }

$la-search: \f2eb;
$la-plus-circle: \f2c3;
$la-heart: \f233;
$la-heart-o: \f234;
$la-angle-right: \f112;









