.footer{
    background-color: #f1f1f1;
    .footer-content{
        .footer-nav{
            display: flex;
            padding: 30px 0;
            border-bottom: 1px solid #ddd;
            .footer-col-first{
                flex-grow: 1;
                padding-right: 20px;
                .footer-logo{
                    width: 220px;
                    height: 70px;
                    background: url('/images/logo_70.png') center no-repeat;
                    background-size: contain;
                    text-indent: -9999999px;
                    display: block;
                }
                >p{
                    margin: 10px 0;
                    font-size: 13px;
                    >a{
                        color: #007aff;
                    }
                }
            }
            .footer-col{
                flex: 0 0 22%;
                max-width: 22%;
                width: 22%;
                padding-right: 20px;
                .footer-col-title{
                    font-weight: 700;
                    margin-bottom: 10px;
                    display: block;      
                    font-size: 12px;
                }
                .footer-menu{
                    >li{
                        >a {
                            margin: 5px 0;
                            display: block;
                            padding: 9px 12px;
                            background-color: #fff;
                            border-radius: 5px;
                            color: #000;
                            font-size: 13px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .social-links{
                    i{
                        margin-right: 5px;
                        width: 35px;
                        height: 35px;
                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .social-fb{
                        >i{
                            background-image: url('/images/icon_facebook.svg');
                        }
                    }
                    .social-youtube{
                        >i{
                            background-image: url('/images/icon_youtube.svg');
                        }
                    }
                    .social-zalo{
                        >i{
                            background-image: url('/images/icon_zalo.svg')
                        }
                    }
                    .social-viber{
                        >i{
                            background-image: url('/images/icon_viber.svg');
                        }
                    }
                    .social-twitter{
                        >i{
                            background-image: url('/images/icon_twitter.svg');
                        }
                    }
                }
                .box-payment{
                    >ul{
                        display: flex;
                        flex-wrap: wrap;
                        >li{
                            width: 33%;
                            border: 1px solid #ddd;
                            >img{
                                width: 100%;
                                height: 40px;
                                object-fit: contain;
                            }
                        }
                    }

                }
            }
        }
        .footer-company{
            padding: 30px 0;
            text-align: center;
            .fz-13{
                font-size: 13px;
                color: #000;
            }
            .certificate{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    display: inline-block; 
                    margin: 0 5px;
                    img{
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px){
    .footer{
        padding-bottom: 30px;
    }
}

@media (max-width: 767px){
    .footer{
        background-color: #f1f1f1;
        .footer-content{
            .footer-nav{
                flex-direction: column;
                .footer-col-first, .footer-col{
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 15px;
                }
                .footer-col{
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .footer-company{
                text-align: left;
            }
        }
    }
}