.grid {
    margin: 15px 0;
    .top{
        h2.title{
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            padding: 10px 0;
        }
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        .content {
            flex-grow: 1;
        }
        .sidebar {
            flex: 0 0 30%;
            max-width: 30%;
            width: 30%;
            //flex: 0 0 250px;
            &-left {
                margin-right: 15px;
            }
            &-right {
                padding-left: 15px;
            }
        }
    }
}

@media (max-width: 767px) {
}

