// Base
@import "../../bases/reset";
@import "../../bases/font";
@import "../../bases/variables";
@import "../../bases/base";
@import "../../bases/card";
@import "../../bases/grid";
@import "../../bases/button";
@import "../../bases/helper";
@import "../../bases/form";
@import "../../bases/table";
@import "../../bases/text";
@import "../../bases/common";

// Plugin
@import "../../icon/font-awesome/scss/font-awesome";
@import "../../icon/line-awesome/scss/line-awesome";

// Component global
@import "../../components/header/header_default";
@import "../../components/footer/footer_default";
@import "~select2";
// Components
@import "../../components/searchbar";
@import "../../components/top_location";
@import "../../components/post_popular";
@import "../../components/category";
@import "../../components/link_footer";
@import "../../components/whyus";
@import "../../components/breadcrumb";
@import "../../components/support";

.form-room {
    display: flex;
    .room-left {
        width: 65%;
        margin-right: 2%;
    }

    .room-right {
        width: 33%;
    }
    .row-lists {
        display: flex;
        .row-lists-3 {
            width: calc(100% / 3 - 10px);
            margin-right: 10px;
        }
    }
    h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

//Include
